<!doctype html>
<html lang="es" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sticky-footer-navbar/">
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {{!-- BOOTSTRAP 4 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{!-- FONT AWESOME 5 --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      main > .container {
        padding: 60px 15px 0;
      }

    </style>

</head>
<body class="d-flex flex-column h-100">
  
    {{>header}}
    <!-- Contenido de la página -->
    <main class="flex-shrink-0">
      <div class="container">
        {{#if message}}
          <div class="container p-4">
            <div class="row">
              <div class="col-md-4 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}

        {{#if success}}
          <div class="container p-4">
            <div class="row">
              <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}

        <div class="container p-4">
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div class="card text-center">
                <div class="card-body">
                  <h3>Bienvenido/a {{user.username}}</h3>
                  <a href="/nuevoPost" class="btn btn-primary m-4">Nuevo Post</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {{>footer}}
</body>
</html>
