<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias HTML</title>
</head>
<body>
    
    <div id='selectTopic'>
        <input id='topic' type="text" placeholder="ingrese topic 1">
        <input id='topic1' type="text" placeholder="ingrese topic 2">
        <input id='topic2' type="text" placeholder="ingrese topic 3">
        <button id='consultar'>consultar noticias</button>
    </div>
    <div id='verNoticias'></div>
    
    <script src="C:\Users\nazar\Documents\GitHub\DistribuidosKafkaTp2\src\views\static\js\noticias.js" charset="utf-8"></script>
    <!--<script src="/js/noticias.js" charset="utf-8"></script>-->
</body>
</html>